@model Position
<div class="container p-5">
    <h1>@Model.Name</h1>
    <div class="d-flex flex-wrap">
        @foreach (Employee employee in Model.Employees)
        {
            <div class="card m-1" style="width: 18rem;">
                <img src="~/assets/img/@employee.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@employee.Name @employee.Surname</h5>
                </div>
            </div>
        }
    </div>
</div>