@model UpdateEmployeeVM
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <img src="~/assets/img/@Model.ImageUrl" style=" width:200px;"/>
                </div>
                <div class="form-group">
                    <label asp-for="Photo">Photo</label>
                    <input asp-for="Photo" class="form-control" placeholder="Photo">
                    <span class="text-danger" asp-validation-for="Photo"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Name">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Surname">Surname</label>
                    <input asp-for="Surname" class="form-control" placeholder="Surname">
                    <span class="text-danger" asp-validation-for="Surname"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Job">Job</label>
                    <input asp-for="Job" class="form-control" placeholder="Job">
                    <span class="text-danger" asp-validation-for="Job"></span>
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>